.editor {
    box-sizing: border-box;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
    position: center;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 200px;
  }
