.Header {
  text-align: center;
}

.Header-header {
  background-color: hsl(0, 0%, 21%);
  height: 1rem;
  padding: 20px;
  color: white;
}

.Header-intro {
  font-size: large;
}

.customFooter{
  padding: 1rem 1.5rem 1.5rem;
}

.customLeftSideBar{
  display: table-cell;
  width: 15%;
  text-align: center;
  background: hsl(0, 0%, 96%);
}

.customRightSideBar{
  display: table-cell;
  width:25%;
}

.ContentArea{
  width: 100%;
  display: table;
  height: 85vh;
}

.landingStyle{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  /*background-image: url("landingImg.jpg");  */
  background-size: 50% 80%;
  background-repeat: no-repeat;
}

.img-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.shareToggleClassHide{
  display: none;
}

.shareToggleClassShow{
  display: block;
}

#root .card-header-title{
  position:absolute;
  bottom:0;
  width:100%;
  margin-bottom:30px;
  justify-content: center;
  background-color: rgba(255,255,255,0.5);
}

#root .card-image{
  overflow: hidden;
}
#root .card-image img{
  filter: blur(2px);
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
}
.customBg{
  background-color: #b8b8b8
}
.SearchBox{
  display: flex;
  padding-top: 0.5rem;
}
.LasteEditedDate{
  font-size: smaller;
  font-style: italic;
  padding: 1px;
  font-weight: 400;
}
hr{
  margin: 0;
}
.sideBarTableRow{
  display: flex;
  width: 100%;
}
.sideBarTableRowImg{
  width: 20%;
  padding: 0.5rem 2.5rem;
}
.sideBarTableRowLink{
  width: 80%;
}
.sideBarButtons{
  padding-top: 1rem;
}
.customNoteNav{
  font-size: x-large;
  padding-left: 5rem;
}
.sideBarTableRowTagImg{
  width: 20%;
  float: left;
  padding-top: 1rem;
  padding-left: 2.5rem;
}
.sideBarTableRowTagImg i{
  font-size: 1.25rem;
}
.sideBarTableRowTagHeader{
  width: 80%;
  padding-left: 5rem;
}
.sideBarTableRowTagHeader div{
  font-size: x-large;
}